@model Services.Dtos.LoginEditDto

@{
    ViewData["Title"] = "ChangePassword";
}
 
<h4>Change password any user</h4> <hr />

@using (Html.BeginForm("ChangePassword", "Account", method: FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Employee</label>
                @Html.DropDownListFor(model => model.EmployeeId,
                    (IEnumerable<SelectListItem>)ViewBag.Employees,"Choose employee")
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </div>
    </div>
}