@model TimeSheet.Web.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}
 
<h4>Change password any user</h4> <hr />

@using (Html.BeginForm("ChangePassword", "Account", method: FormMethod.Get))
{<p>
     <div>
         <p>
             Input name employee : @Html.DropDownListFor(model => model.Login.EmployeeId, 
                                                  Model.Employees.Select(t => new SelectListItem
                                                  {
                                                      Text = t.Name, 
                                                      Value = t.Id.ToString()
                                                  }))
         </p>
         <p>
             Input new password : @Html.TextBoxFor(model => model.Login.Password, new { @type = "text" })
         </p>
         <input type="submit" value="Apply"/>
     </div>
 </p>
}