@model TimeSheet.Web.Models.TimeSheetTableModel

@{
    ViewData["Title"] = "TimeSheets";
}

<h1>TimeSheets</h1>

@using (Html.BeginForm("TimeSheets", "Home", method:FormMethod.Get))
{
    <p>
        <div>
            <h5>Filter by Date Of Works</h5>
            <p>
                Input start date :  @Html.TextBoxFor(model => model.Filters.DateOfWorksFrom, new { @type = "date" })
                Input final date :  @Html.TextBoxFor(model => model.Filters.DateOfWorksTo, new { @type = "date" })
            </p>
            <p>
                Scope time sheet : @Html.TextBoxFor(model => model.Filters.Scope)
            </p>
            <input type="submit" value="Apply filters"/>
        </div>
    </p>
}

<partial name="TimeSheetTable" model="Model.Entries"/>
